<div class="project-card-wrapper">
  <img src="https://picsum.photos/280/200/?blur" alt="" />
  <h3>Landing Page</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aut
    culpa enim et harum in magni minus necessitatibus nisi, omnis praesentium
    quos, saepe, sapiente sint tenetur voluptas voluptatem voluptatibus.
  </p>
  <div class="card-actions">
    <img src="assets/icons/github.svg" alt="" />
    <img src="assets/icons/url.svg" alt="" />
    <img src="assets/icons/linkedin.svg" alt="" /><img
      src="assets/icons/twitter.svg"
      alt=""
    />
  </div>
</div>
