<div class="wrapper">
  <div class="contact-form">
    <h2>Reach out</h2>
    <div class="form">
      <div class="group">
        <label for="">Your email</label>
        <input type="email" />
      </div>
      <div class="group">
        <label for="">Message</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="cta">
        <button>Send Message</button>
      </div>
    </div>
  </div>
  <div class="social">
    <h2>Follow me on social media</h2>
    <div class="twitter">
      <img src="assets/icons/twitter.svg" alt="" />
      <a target="_blank" href="https://twitter.com/gbumanzordev"
        >@gbumanzordev</a
      >
    </div>
    <div class="github">
      <img src="assets/icons/github.svg" alt="" />
      <a target="_blank" href="https://github.com/gbumanzordev"
        >@gbumanzordev</a
      >
    </div>
    <div class="linked-in">
      <img src="assets/icons/linkedin.svg" alt="" />
      <a target="_blank" href="https://www.linkedin.com/in/bumanzor/"
        >https://www.linkedin.com/in/bumanzor/</a
      >
    </div>
  </div>
</div>
