<div class="blog-entry-wrapper">
  <h2>How to structure angular applications</h2>
  <p class="excerpt">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore
    dolorem ducimus et nulla possimus provident sit? Ab aperiam assumenda dolore
    eum facere fugiat hic illo, minus natus nesciunt omnis pariatur, provident
    quidem, ratione rerum sit voluptatem! Adipisci consectetur earum excepturi
    facilis illum modi nobis quam voluptatibus. Non, quae, tempore.
  </p>
  <div class="footer">
    <div class="tags">
      <app-blog-tag>angular</app-blog-tag>
      <app-blog-tag>typescript</app-blog-tag>
      <app-blog-tag>development</app-blog-tag>
    </div>
    <div class="action">
      <a href="">Continue reading...</a>
    </div>
  </div>
</div>
