<div class="wrapper">
  <div class="main-info">
    <div class="profile">
      <img
        src="https://avatars3.githubusercontent.com/u/45671861?s=460&u=372762fc630086b683e7c5c188c1e133038b5521&v=4"
        alt=""
      />
    </div>
    <div class="information">
      <h1>Gerson Umanzor</h1>
      <p>5x Developer</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis earum
        ex officia omnis vero, voluptate.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam
        aut exercitationem, facere nam quam!
      </p>
    </div>
  </div>
</div>
