<div class="wrapper">
  <div class="main-info">
    <div class="profile">
      <img
        src="https://avatars3.githubusercontent.com/u/45671861?s=460&u=372762fc630086b683e7c5c188c1e133038b5521&v=4"
        alt=""
      />
    </div>
    <div class="information">
      <h1>Gerson Umanzor</h1>
      <p>
        🔭 I'm currently working at Applaudo Studios as a Frontend Developer.
      </p>
      <p>
        🌱 I’m currently learning a bunch of Frontend and Backend Stuff (React,
        Laravel NestJS). I love reading articles and learning new stuff. You can
        check my repository collection and if you have suggestions make sure to
        leave comments or contact me. I'm also trying to build reusable packages
        I believe the community can find useful.
      </p>
      <p>
        📫 You can reach me to gbumanzor.dev@gmail.com. You can also submit pull
        requests to the packages I built to make improvements.
      </p>
    </div>
  </div>
</div>
